:root {
  --blue: #2196f3;
  --white: #ffffff;
  --gray: #757575;
  --light-black: #212121;
  --black: #000000;
  --special-gray: #f5f4fa;
  --footer-color: #2f303a;
  --primary-font: 'Roboto', Sans-serif;
  --secondary-font: 'raleway', Sans-serif;
  --background-index: #2f303a;
}

/*Index html style*/
/*Header logo*/

@media screen and (max-width: 1158px) {
  body {
    height: 100vh;

    max-width: 100%;
  }
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
@media screen and (max-width: 428px) {
  .header_nav {
    display: none;
  }
}
.js-menu-container {
  display: none;
}
.is-open {
  display: block;
}

@media screen and (max-width: 428px) {
  .js-mobile_btn {
    display: flex;
    justify-content: center;
    position: absolute;
    right: 0px;
    top: 20px;
    width: 100%;
  }
}
@media screen and (min-width: 429px) and (max-width: 1400px) {
  .js-open-menu {
    visibility: hidden;
  }
}

@media screen and (max-width: 428px) {
  .js-menu-container .is-open {
    position: absolute;
    top: 400px;
    right: -250px;
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    visibility: inherit;
    text-decoration: none;
  }
}
@media screen and (max-width: 428px) {
  .js-menu-container {
    position: absolute;
    top: -25px;
    background-color: var(--white);
    right: 61px;
  }
}
@media screen and (max-width: 428px) {
  .js_social {
    display: flex;
    gap: 48px;
    color: var(--gray);
    margin-top: 170px;
  }
}
@media screen and (max-width: 428px) {
  .js_social__link a {
    font-size: 14px;
    color: var(--blue);
    text-decoration: none;
  }
}
@media screen and (max-width: 428px) {
  .js_svg_contact_header a {
    font-size: 34px;
    color: var(--gray);
    text-decoration: none;
    padding-left: 10px;
    margin-top: 50px;
  }
}
@media screen and (max-width: 428px) {
  .js_svg_contact_header {
    padding-left: 10px;
  }
}
@media screen and (max-width: 428px) {
  .js-close-menu {
    width: 20px;
    margin: 20px 0;
    border: none;
    color: var(--black);
    background-color: var(--white);
    font-size: 20px;
    cursor: pointer;
    position: absolute;
    right: 50px;
    top: 10px;
  }
}
@media screen and (max-width: 428px) {
  .js-close-menu:hover {
    color: var(--blue);
  }
}
@media screen and (max-width: 428px) {
  .mobile_contact_heeader {
    margin-top: 50px;
  }
}
@media screen and (max-width: 428px) {
  .js-mobile_link a {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 40px;
    font-family: var(--primary-font);
    font-size: 40px;
    visibility: inherit;
    color: var(--black);
    text-decoration: none;
    margin-top: 50px;
  }
}
@media screen and (max-width: 428px) {
  .contact_header {
    display: none;
  }
}

@media screen and (max-width: 428px) {
  .js-open-menu {
    background-color: var(--white);
    border: none;
    position: fixed;
    right: 1050px;
  }
}
.header__section {
  height: 80px;
}

.index_logo {
  color: var(--black);
  font-family: var(--secondary-font);
  font-size: 26px;
  font-weight: 700;
}
.first_logo {
  color: var(--blue);
}
.link_index {
  font-family: var(--primary-font);
  font-size: 14px;
  font-weight: 700;
  color: var(--light-black);
  position: relative;
}

@media screen and (min-width: 768px) and (max-width: 1157px) {
  .header_navigation {
    display: flex;
    position: relative;
    top: -90px;
    left: 250px;
    gap: 50px;
  }
}

.header_navigation {
  display: flex;
  position: relative;
  top: -90px;
  left: 300px;
  gap: 50px;
}
@media screen and (min-width: 768px) {
  .link_index.active::after {
    content: '';
    height: 4px;
    border-radius: 20px;
    position: absolute;
    top: 35px;
    left: 0;
    background-color: var(--blue);
    transition-duration: 250ms;
    transition-property: width;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}
@media screen and (min-width: 768px) {
  .link_index::after {
    content: '';
    height: 4px;
    border-radius: 20px;
    position: absolute;
    top: 35px;
    left: 0;
    background-color: var(--blue);
    transition-duration: 250ms;
    transition-property: width;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}
@media screen and (min-width: 768px) {
  .link_index.active::after,
  .link_index.active:visited::after {
    width: 100%;
    color: var(--blue);
  }
}
@media screen and (min-width: 768px) {
  .link_index:hover:after {
    width: 100%;
    color: var(--blue);
  }
}

.index_logo {
  margin-top: 15px;
}

/* .svg_contact_header {
  display: flex;
  align-items: center;
} */
.link_index {
  margin-top: 40px;
  margin-bottom: 40px;
}

.button_index {
  font-size: 16px;
  line-height: 30px;
  display: flex;
  align-self: center;
}
/* Data modal content  */
.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.is-hidden [data-modal-content] {
  transform: translate(-50%, -50%) scale(0.5);
}
[data-modal-content] {
  width: 528px;
  height: 581px;
  background-color: var(--white);
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition-duration: 1s;
  padding: 20px;
}
[data-modal] {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  color: var(--gray);
}

[data-modal-close] {
  position: absolute;
  top: 10px;
  right: 10px;
  border-radius: 100%;
  border-color: rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

[data-modal-close]:hover,
[data-modal-close]:focus {
  color: var(--blue);
}
.modal-title {
  font-family: Roboto;
  font-size: 20px;
  font-weight: 700;
  line-height: 23.44px;
  letter-spacing: 0.03em;
  text-align: center;
}
.modal-form {
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.modal-form__position {
  display: flex;
  flex-direction: column;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 1);
  position: relative;
  top: 100px;
}
.modal-form__position svg {
  position: absolute;
  width: 18px;
  height: 18px;
  top: 26px;
  left: 7px;
}
.modal-form__input {
  outline: none;
  margin-top: 4px;
  border-radius: 4px;
  height: 35px;
  cursor: pointer;
  border: 1px solid rgba(33, 33, 33, 0.2);
  padding-left: 12px;
}
.modal-form__position input {
  padding-left: 30px;
}
.modal-form__position input:focus + svg,
.modal-form__position input:hover + svg {
  fill: #2196f3;
}
.modal-form__comments {
  outline: none;
  margin-top: 4px;
  border-radius: 4px;
  height: 35px;
  cursor: pointer;
  border: 1px solid rgba(33, 33, 33, 0.2);
  padding-left: 12px;
  padding-top: 5px;
  height: 120px;
}
.modal-form__input:hover,
.modal-form__input:focus,
.modal-form__comments:hover,
.modal-form__comments:focus {
  border-color: #2196f3;
}
.modal-form__checked {
  flex-direction: row;
  align-items: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-align: left;
  gap: 10px;
  justify-content: center;
}
.condition {
  color: #2196f3;
  font-family: var(--primary-font);
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  font-weight: 400;
  text-decoration: underline;
}

.modal-form__input[type='checkbox'] {
  display: none;
}
.modal-checkbox__position {
  position: relative;
  width: 12px;
  height: 12px;
  border: 1px solid black;
  border-radius: 2px;
}
.modal-form__input[type='checkbox']:checked + .replace-checkbox {
  background-color: #2196f3;
  border-color: #2196f3;
}
.modal-checkbox__position svg {
  position: absolute;
  height: 12px;
  width: 12px;
  top: -1px;
  left: 0px;
  display: none;
  fill: var(--white);
}
.modal-form__input[type='checkbox']:checked + .modal-checkbox__position svg {
  display: block;
}
.modal-form__btn {
  width: 200px;
  height: 50px;
  background-color: #2196f3;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  outline: none;
  border: none;
  cursor: pointer;
  color: var(--white);
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.06em;
  text-align: center;
  border-radius: 4px;
  margin: 0 auto;
  position: absolute;
  left: 165px;
  top: 490px;
}

ul {
  list-style: none;
}

.link_contact {
  font-size: 14px;
  color: var(--gray);
  font-family: var(--primary-font);
  letter-spacing: 0.02em;
  display: flex;
  flex-direction: row;
  gap: 6px;
}

.link_contact_phone {
  font-size: 14px;
  color: var(--gray);
  font-family: var(--primary-font);
  display: flex;
  flex-direction: row;
  gap: 6px;
}
.link_index:hover,
.link_index:focus {
  color: var(--blue);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}

.link_contact:hover,
.link_contact:focus {
  color: var(--blue);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}
.link_contact_phone:hover,
.link_contact_phone:focus {
  color: var(--blue);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}

p {
  margin-top: 0%;
}
@media screen and (max-width: 428px) {
  .main_title {
    background-color: var(--background-index);
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.2)
      ),
      url(../images/img-bg.jpg);
    background-size: contain;
    height: 400px;
    width: 480px;
  }
}

.main_title {
  height: 600px;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: var(--background-index);
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.2)
    ),
    url(../images/img-bg.jpg);
  background-size: cover;
  width: 1600px;
  background-repeat: no-repeat;
  border-radius: 0%;
  background-position: 50% 50%;
  position: relative;
  right: 200px;
}

.button_index:hover,
.button_index:focus {
  background-color: var(--blue);
  color: var(--white);
  cursor: pointer;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}
.button_index {
  font-family: var(--primary-font);
  vertical-align: middle;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 19px;
  padding-left: 20px;
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.06em;
  background-color: var(--blue);
  color: var(--white);
  margin-top: 30px;
  border-radius: 4px;
}
h1 {
  margin-top: 150px;
  font-size: 44px;
  letter-spacing: 0.06em;
  line-height: 60px;
  text-align: center;
  font-family: var(--primary-font);
  font-weight: 900;
  max-width: 100%;
}

/* .icons {
  display: flex;
  justify-content: space-around;
  margin-top: 94px;
  margin-bottom: 30px;
  gap: 30px; */

@media screen and (max-width: 428px) {
  .p_section {
    width: 480px;
  }
}
.section_div {
  color: var(--light-black);
  font-family: var(--primary-font);
  font-weight: 700;
}
.paragraph {
  color: var(--gray);
  font-size: 14px;
  font-weight: 400;
}
@media screen and (min-width: 0px) and (max-width: 1157px) {
  .information {
    display: none;
  }
}
.information {
  color: var(--light-black);
  font-size: 36px;
  font-weight: 700;
  text-align: center;
}
/*Last Part-Team*/
@media screen and (min-width: 428px) {
  .team_last {
    max-width: 100%;
  }
}
@media screen and (min-width: 428px) {
  .shadow_cards {
    max-width: 100%;
  }
}
.shadow_cards {
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  background-color: white;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}

.social_media {
  display: flex;
  justify-content: space-around;
  margin-top: 16px;
}
.team_member {
  font-size: 16px;
  font-weight: 700;
  color: var(--light-black);
  text-align: center;
  margin-top: 30px;
  font-family: var(--primary-font);
  letter-spacing: 0.03em;
}
.member_profession {
  font-size: 16px;
  color: var(--gray);
  text-align: center;
  margin-top: 10px;
  font-family: var(--primary-font);
  letter-spacing: 0.03em;
}
h2 {
  color: var(--light-black);
  font-size: 36px;
  font-family: var(--primary-font);
  text-align: center;
  margin-bottom: -100px;
  /* position: relative;
  top: -90px;*/
}
/*Footer */
.first_part_logo {
  color: var(--blue);
}

.l_footer {
  color: var(--white);
  font-family: var(--secondary-font);
}
.address_index {
  font-family: var(--primary-font);
  font-size: 14px;
  color: var(--white);
}
.address_index:hover,
.address_index:focus {
  color: var(--blue);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.details_paragraph {
  display: flex;
  flex-direction: row;
  margin-top: 94px;
  margin-bottom: 94px;
  gap: 40px;
  padding-left: 0px;
}
.p_section {
  margin-left: 0px;
}
.index_h2 {
  font-family: var(--primary-font);
  font-size: 36px;
  letter-spacing: 0.03em;
  margin-top: 94px;
  margin-bottom: 50px;
}
.pictures_second_part {
  display: flex;
  gap: 30px;
  margin-bottom: 94px;
}
,
.paragraph_info {
  position: absolute;
}
.paragraph_info > .arrange {
  overflow: hidden;
  list-style: none;
  display: flex;
  justify-content: space-around;
  position: relative;
  top: -78px;
  left: 0;
  font-size: 14px;
  font-family: var(--primary-font);
  letter-spacing: 0.03em;
  color: var(--white);
  align-items: center;

  width: 370px;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
}
.title {
  background-color: rgba(47, 48, 58, 0.8);
  height: 70px;
  width: 370px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  top: -33px;
}

.team_last {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  margin-top: 186px;
  margin-bottom: 94px;
  width: 1170px;
  height: 428px;
  padding-left: 15px;
}

.last_part_index {
  background-color: rgb(224, 224, 235);
  height: 700px;
  max-width: 100%;
}
.customers_loyalty {
  display: flex;
  justify-content: space-between;
  margin-top: 186px;
  margin-bottom: 94px;
}
.end_index {
  width: auto;
  font-size: 36px;
  font-family: var(--primary-font);
  font-weight: 700px;
}
.reg_customers {
  margin: 16px 32px;
}
.brand_customers {
  width: 170px;
  height: 92px;
  border: 1px solid rgba(175, 177, 184, 1);
  border-radius: 4px;
}

/*FOOTER INDEX */
.container_footer {
  display: flex;
  flex-direction: row;
  width: 1600px;
  height: 251px;
  position: relative;
  right: 200px;
}
.footer_flex {
  display: flex;
  flex-direction: column;
  justify-content: left;
  margin-left: 215px;
  margin-top: 60px;
}
.footer_social_media {
  width: 206px;
  height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 65px;
  align-items: center;
  margin-left: 70px;
  font-size: 14px;
  letter-spacing: 0.03em;
  font-family: var(--primary-font);
}
.footer_socialm {
  display: flex;
  gap: 22px;
}
.footer_socialm li {
  padding: 12px;
  border-radius: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  display: block;
}
.title_sub {
  font-size: 14px;
  font-family: var(--primary-font);
  letter-spacing: 0.03em;
  color: var(--white);
}
.footer_subs_form {
  display: flex;
  flex-direction: row;
  gap: 12px;
}
.footer_subs_form__input {
  border-radius: 4px;
  background-color: var(--footer-color);
  width: 358px;
  height: 50px;
  border: rgba(255, 255, 255, 0.3) solid 1px;
}
.footer_subs_form_btn {
  height: 50px;
  width: 200px;
  background-color: var(--footer-color);
  font-family: var(--primary-font);
  font-size: 16px;
  font-weight: 700;
  color: var(--white);
  padding-bottom: 10px;
  cursor: pointer;
}
.footer_subs_form_btn svg {
  position: relative;
  top: 8px;
  left: 15px;
}
.footer_subscription {
  position: relative;
  top: 35px;
  left: 100px;
}

.social_media a {
  padding: 12px;
  border-radius: 100%;
  background-color: var(--white);
}
.footer_subs_form_btn:hover,
.footer_subs_form_btn:focus {
  background-color: var(--blue);
  color: var(--white);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}
.social_media a:hover,
.social_media a:focus {
  fill: var(--white);
  background-color: var(--blue);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}
.customers_loyalty li:hover,
.customers_loyalty li:focus {
  border-color: var(--blue);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}

.reg_customers:hover,
.reg_customers:focus {
  fill: var(--blue);
  border-radius: solid 1px var(--blue);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}

.social_media a {
  fill: #afb1b8;
}

.footer_socialm li:hover,
.footer_socialm li:focus {
  fill: var(--white);
  background-color: var(--blue);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}
.sm_footer:hover,
.sm_footer:focus {
  fill: var(--white);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}
.reg_customers {
  fill: rgba(175, 177, 184, 1);
}

.icon_footer a {
  fill: rgba(175, 177, 184, 1);
}

.header_envelope {
  fill: rgba(175, 177, 184, 1);
}
.header_phone {
  fill: rgba(175, 177, 184, 1);
}
.header_phone:hover,
.header_phone:focus {
  fill: var(--white);
  background-color: var(--blue);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}
.header_envelope:hover,
.header_envelope:focus {
  fill: var(--white);
  background-color: var(--blue);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}
/*Portofolio*/
/*Header section*/
body {
  font-family: var(--primary-font);
  color: var(--white);
}

.header_logo {
  margin-top: 15px;
}
.header__section .container__header {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: -5px;
  right: 800px;
}

.logo {
  color: #2196f3;
  text-decoration: none;
}
.header_logo {
  text-decoration-line: none;
  text-decoration: none;
  font-family: var(--secondary-font);
  font-size: 26px;
  font-weight: 700;
  color: var(--black);
}

/*Nav-choose_section*/
.choose_section ul {
  display: flex;
  gap: 50px;
  padding-top: 10px;
}
.choose_section a {
  text-decoration: none;
  color: var(--light-black);
  font-size: 14px;
  font-weight: 700;
  font-family: var(--primary-font);
  position: relative;
}
.choose_section a:hover {
  color: var(--blue);
}
.choose_section a::after,
.choose_section a:after {
  content: '';
  height: 4px;
  border-radius: 20px;
  position: absolute;
  top: 35px;
  left: 0;
  background-color: var(--blue);
  transition-duration: 250ms;
  transition-property: width;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.choose_section a:hover::after,
.choose_section a:active::after {
  width: 100%;
}

.send-email {
  text-decoration: none;
  color: var(--gray);
  font-size: 14px;
  font-family: var(--primary-font);
}
.phonecall {
  text-decoration: none;
  color: var(--gray);
  font-size: 14px;
  font-family: var(--primary-font);
}
@media screen and (min-width: 1158px) {
  .contact_header {
    display: flex;
    gap: 50px;
    position: relative;
    right: -750px;
    top: -130px;
  }
}
@media screen and (min-width: 769px) and (max-width: 1157px) {
  .contact_header {
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: absolute;
    right: 0px;
    top: 15px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1157px) {
  .svg_contact_header {
    display: flex;
    align-items: end;
    gap: 10px;
  }
}
.choose_section .link:hover,
.link:focus {
  color: var(--blue);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}
.send-email:hover,
.send-email:focus {
  color: var(--blue);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}
.phonecall:hover,
.phonecall:focus {
  color: var(--blue);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}
/*Div-buttons*/
.buttons {
  font-family: var(--primary-font);
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--light-black);
  background-color: var(--special-gray);
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.section {
  display: flex;
  justify-content: center;
  gap: 8px;
}
.buttons:hover,
.buttons:focus {
  color: var(--white);
  background-color: var(--blue);
  text-shadow: 10px 10px 10px var(--black);
}

/*List-categories*/
.subtitle {
  font-size: 18px;
  font-family: var(--primary-font);
  color: var(--light-black);
  font-weight: 700;
  line-height: 2;
  text-align: left;
  padding-top: 20px;
}
.area {
  font-family: var(--primary-font);
  font-size: 18px;
  font-weight: 400;
  line-height: 1.8;
  color: var(--gray);
  padding-top: 4px;
}
.categories {
  display: flex;
  gap: 30px;
  padding-top: 94px;
  padding-bottom: 94px;
}
.cards {
  border: 1px solid rgba(238, 238, 238, 1);
}
.cards_flex ul {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0px;
}
.overlay_image {
  position: relative;
  overflow: hidden;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(105%);
  background-color: var(--blue);
  color: var(--white);
  transition-duration: 500ms;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cards:hover .overlay {
  transform: translateY(0);
}
.cards:hover {
  box-shadow: 10px 10px 15px var(--black);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}
.overlay_p {
  font-size: 18px;
  font-family: var(--primary-font);
  letter-spacing: 0.03em;
  line-height: 28px;
  text-align: left;
}

/*Footer section*/
footer {
  background-color: var(--footer-color);
}
.footer_logo {
  font-family: var(--secondary-font);
  font-size: 26px;
  font-weight: 700;
  color: var(--white);
  text-decoration: none;
}
.logo_footer {
  color: var(--blue);
}
.address_portfolio {
  font-size: 14px;
  color: var(--white);
}
a {
  text-decoration: none;
  font-size: 26px;
  font-weight: 700;
}
.address_portfolio:hover,
.address_portfolio:focus {
  color: var(--blue);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}
.icon_footer {
  fill: var(--white);
}
